ul#nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .82);
    position: fixed;
    width: 100%;
    left: 0;
    top: 5px;
}

.nav_item {
    display: inline;
    padding: 30px 1.5%;
    text-align: center;
    font-weight: bold;
}

#navigation {
    text-align: center;
    vertical-align: middle;
    height: 133px;
}

@font-face {
    font-family: "ecolier";
    src: url(fonts/ecolier/ec_cour.TTF) format("truetype");
}

#nav_names {
    font-family: "Euphoria Script", cursive;
    color: rgb(0, 156, 255);
    font-size: 2em;
}

img {
    height: 75px;
    width: auto;
}


/* unvisited link */

a:link {
    color: rgb(0, 156, 255);
    text-decoration: none;
}


/* visited link */

a:visited {
    color: rgb(0, 156, 255);
    text-decoration: none;
}


/* mouse over link */

a:hover {
    color: rgb(0, 156, 255);
    text-decoration: none;
    background-color: rgba(224, 224, 235, 1);
}

li:hover {
    background-color: rgba(224, 224, 235, 1);
}

#nav_names:hover {
    background-color: transparent;
}


/* selected link */

a:active {
    color: rgb(0, 156, 255);
    text-decoration: none;
}
