body {
    background: url(images/bed_2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul#nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .82);
    padding-bottom: 20px;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 5px;
}

.nav_item {
    display: inline;
    padding: 30px 1.5%;
    text-align: center;
    font-weight: bold;
}

#navigation {
    text-align: center;
}

#nav_names {
    font-family: "Euphoria Script", cursive;
    color: rgb(0, 156, 255);
    font-size: 2em;
}

#weddingDate {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, .82);
    bottom: 5px;
    font-family: "Euphoria Script", cursive;
    font-size: 1.25em;
    font-weight: bold;
    position: fixed;
    left: 0;
    color: rgb(0, 156, 255);
}

#weddingDate p {
    margin: 1px;
}

#weddingDate p:first-of-type {
    font-size: 1.5em;
}

#countDown {
    font-family: "PT Serif";
}


/* unvisited link */

a:link {
    color: rgb(0, 156, 255);
    text-decoration: none;
}


/* visited link */

a:visited {
    color: rgb(0, 156, 255);
    text-decoration: none;
}


/* mouse over link */

a:hover {
    color: rgb(0, 156, 255);
    text-decoration: none;
    background-color: rgba(224, 224, 235, 1);
}

li:hover {
    background-color: rgba(224, 224, 235, 1);
}

#nav_names:hover {
    background-color: none;
}


/* selected link */

a:active {
    color: rgb(0, 156, 255);
    text-decoration: none;
}
